NODE_ENV=development
RUNNER_HOST=127.0.0.1
RUNNER_PORT=8081
RUNNER_API_TOKEN=replace-with-at-least-32-random-characters
RUNNER_ALLOWED_ORIGINS=https://xero-x.me,http://localhost:3000,http://localhost:3008
RUNNER_DOCKER_RUNTIME=runc
RUNNER_SANDBOX_IMAGE=cpp-mastery-sandbox:dev
RUNNER_MAX_CONCURRENT_JOBS=2
